.graphic-bg {
    background-color: #f8f8f8;
}

.txt {
    text-align: right;
    font-size: 42px;
    padding-top: 50px;
    color: #686868;
    font-weight: 800;
}

.services-text {
    vertical-align: middle;
}

.inner-page-padding {
    padding-top: 20px;
}

.card-img-top {
    height: 150px;
}